.main-div::after {
	content: ' ';
	display: inline-block;
	clear: both;
}
.div::after {
	content: ' ';
	display: inline-block;
	clear: both;
}
.main-div {
	opacity:0.8;
    background-color: #050A1A;
    position: relative;
    height: 100vh;
    top:0px;
    left:0px;
    z-index:1;
}
.mars {
	background-image: url(https://openclipart.org/download/260429/planet-remix-fixed.svg);
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
    background-size: contain;
	position: absolute;
	left: 550px;
	bottom: 50px;
    transition: transform 2.46s linear 1s; 
    z-index: 2;
}
.rocket {
	background-image: url(../img/rocket.svg);
	background-repeat: no-repeat;
    background-size: contain;
	width: 150px;
	height: 150px;
	position: absolute;
	right: 550px;
	bottom: 250px;
	transform: rotate(2deg);
	z-index: 2;
	animation: myanimation 5s 5 reverse;
}
.star-1 {
	background-image: url(../img/stars.svg);
	width: 100px;
	height: 100px;
	position: absolute;
	left: 200px;
	bottom: 50px;
	transform: rotate(15deg);
	transition: transform 1s linear 0s;
	z-index: 3;
}
.star-2 {
	background-image: url(../img/stars.svg);
	width: 100px;
	height: 100px;
	position: absolute;
	right: 240px;
	top: 90px;
	transform: rotate(15deg);
	transition: transform 1s linear 0s;
	z-index: 3;
}
.star-3 {
	background-image: url(../img/stars.svg);
	width: 100px;
	height: 100px;
	position: absolute;
	left: 280px;
	top: 90px;
	transform: rotate(15deg);
	transition: transform 1s linear 0s;
	z-index: 3;
}
.star-4 {
	background-image: url(../img/stars.svg);
	width: 100px;
	height: 100px;
	position: absolute;
	right: 200px;
	top: 400px;
	transform: rotate(15deg);
	transition: transform 1s linear 0s;
	z-index: 3;
}
.astronaut {
	height: 250px;
	width: 250px;
	position: absolute;
	left: 250px;
	top: 250px ;
	animation: astronaut 4s 4 ease-in-out alternate;
}

/*Hoover effects*/
.mars:hover {
	transform: rotate(360deg);
}
.stars:hover {
	transform: rotate(360deg);
}
/*Keyframes*/
@keyframes myanimation {
	0% {transform: translateY(-47px);}
	25% {transform: translateY(-100px);}
	50% {transform: translateY(-150px);}
	75% {transform: translateY(-225px);}
	100% {transform: translateY(-300px);}
}
@keyframes astronaut {
	0% {transform: translate(-55%, 25%) rotate(40deg);}
	25% {transform: translate(20%, 40%) rotate(110deg);}
	50% {transform: translate(35%, 50%) rotate(260deg);}
	100% {transform: translate(-15%, 20%) rotate(40deg);}
}
